.header-container {
  text-align: center;
  padding: 40px 0;
}

.header-subtitle {
  color: rgb(0, 0, 0);
  font-size: 18px;
}

.header-title {
  font-size: 48px;
  font-weight: bold;
}

@media (max-width: 768px) {
  .header-title {
    font-size: 28px;
  }
}
